In [1]:
# Parameters
credentials_path = "/mnt/c/Temp/desafiolh-445818-3cb0f62cb9ef.json"
table_name = "raw_data_cleaned.humanresources_employee"

### EDA (Exploratory Data Analysis) & Data Cleaning

In [1]:

##import das bibliotecas e adequando colunas, linhas e formato de números

from google.cloud import bigquery
from dotenv import load_dotenv
import pandas as pd
import pandas_gbq as gbq
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import re

# Carrega o .env
load_dotenv()

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = os.getenv("GOOGLE_APPLICATION_CREDENTIALS")

# Verificar se a configuração está correta
print("Credenciais do BigQuery:", os.getenv("GOOGLE_APPLICATION_CREDENTIALS"))

# Verifica se a variável está configurada
print(os.getenv("GOOGLE_APPLICATION_CREDENTIALS"))


# Configurar Pandas para exibir todas as colunas e todas as linhas completas
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', 1000)


pd.options.display.float_format = '{:.2f}'.format

Credenciais do BigQuery: /mnt/c/Temp/desafiolh-445818-3cb0f62cb9ef.json
/mnt/c/Temp/desafiolh-445818-3cb0f62cb9ef.json

In [2]:
# Configurar o cliente do BigQuery
client = bigquery.Client()

# Nome do dataset e tabela
dataset_id = 'raw_data'

DefaultCredentialsError: File /mnt/c/Temp/desafiolh-445818-3cb0f62cb9ef.json was not found.

In [4]:
# Listar tabelas no dataset
tables = client.list_tables('raw_data')
print("Tabelas disponíveis:")
for table in tables:
    print(table.table_id)

Tabelas disponíveis:

humanresources_employee
person_address
person_businessentity
person_person
production_location
production_product
production_productcategory
production_productinventory
production_productsubcategory
sales_customer
sales_salesorderdetail
sales_salesorderheader
sales_salesterritory
sales_store

In [5]:
query = f"SELECT * FROM `raw_data.humanresources_employee`"
data = client.query(query).result().to_dataframe()

# Expandir a coluna JSON
EDA_humanresources_employee = pd.json_normalize(data['data'])

# Exibir os dados expandidos
print(EDA_humanresources_employee.sample(n=50))

/mnt/c/Users/wrpen/OneDrive/Desktop/df_lh/airflow_env/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(
/mnt/c/Users/wrpen/OneDrive/Desktop/df_lh/airflow_env/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:208: UserWarning: Unable to determine Arrow type for field 'data'.
  warnings.warn(

       birthdate  businessentityid  currentflag gender    hiredate                      jobtitle                     loginid maritalstatus                modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
1453  1988-05-10               204         True      M  2009-03-08  Production Technician - WC40       adventure-works\gabe0             M         2014-06-30T00:00:00        440379437      /3/1/21/12/  790c9a7c-264c-4d48-a9d3-e2571a8011d8         False              48             57
41    1974-09-10               141         True      M  2010-01-24  Production Technician - WC20        adventure-works\min0             M         2014-06-30T00:00:00        872923042       /3/1/14/7/  cc75c35d-1566-43fa-b2e9-d1e508efdcd1         False              20              1
1218  1977-10-04               197         True      M  2008-12-31  Production Technician - WC40     adventure-works\rajesh0             M         2014-06-30T00:00:00        632092621       /3/1/21/5/  aca7b40c-7ac0-4daa-b4c7-1051d850d7d9         False              44             48
1165  1987-12-22               223         True      M  2009-01-26          Scheduling Assistant     adventure-works\sairaj0             M         2014-06-30T00:00:00        981495526          /3/3/1/  4d36a720-ce32-4c47-866a-db7844449309         False              43             46
964   1984-07-25                42         True      M  2008-12-27  Production Technician - WC60      adventure-works\james0             M         2014-06-30T00:00:00        339712426        /3/1/2/2/  82e52d5a-165b-4c6d-9773-c3a6b6332ecd         False              39             39
802   1984-12-29                70         True      M  2008-12-15  Production Technician - WC60      adventure-works\david2             M         2014-06-30T00:00:00         36151748        /3/1/5/8/  fc617bb8-d2a3-4374-873c-8ef38d80127d         False              36             33
1019  1977-04-06               152         True      M  2009-02-01  Production Supervisor - WC20     adventure-works\yuhong0             M         2014-06-30T00:00:00        319472946         /3/1/16/  f1a684f4-02db-4b22-8977-6d8d3a21100e         False              40             41
1767  1984-03-25               264         True      F  2009-02-04               Network Manager  adventure-works\stephanie0             S         2014-06-30T00:00:00        858323870            /5/1/  221cbb7b-8bae-452b-a16f-a67ebb3873c8          True              54             68
1053  1983-10-19                73         True      F  2008-12-19  Production Technician - WC30     adventure-works\carole0             M         2014-06-30T00:00:00        138280935        /3/1/6/2/  c76a41f1-a390-4ae4-a82a-2a87764c6391         False              41             42
966   1984-07-25                42         True      M  2008-12-27  Production Technician - WC60      adventure-works\james0             M         2014-06-30T00:00:00        339712426        /3/1/2/2/  82e52d5a-165b-4c6d-9773-c3a6b6332ecd         False              39             39
50    1986-09-08                95         True      M  2008-12-19  Production Technician - WC50        adventure-works\jim0             M         2014-06-30T00:00:00        674171828        /3/1/9/2/  6175876e-8fcc-4917-be06-fc358515e6df         False              20              1
117   1970-11-12               136         True      M  2009-12-11  Production Technician - WC20  adventure-works\sylvester0             M         2014-06-30T00:00:00        701156975       /3/1/14/2/  d9c43d08-3882-4e5c-bdf0-f6bd7004cd04         False              22              4
218   1989-05-28                13         True      F  2010-12-23                 Tool Designer     adventure-works\janice0             M         2014-06-30T00:00:00        486228782        /1/1/5/2/  954b91b6-5aa7-48c2-8685-6e11c6e5c49a         False              24              8
2417  1976-01-18               228         True      M  2008-12-14        Maintenance Supervisor  adventure-works\christian0             M         2014-06-30T00:00:00        553069203          /3/4/1/  4611c7c5-90a0-407f-b054-93bd51533609          True              66             92
1690  1975-12-13               263         True      F  2008-12-11  Information Services Manager       adventure-works\jean0             S         2014-06-30T00:00:00        441044382              /5/  794a0b1f-c46a-401c-984d-008996fc7092          True              52             65
175   1990-11-04               144         True      M  2009-01-17  Production Technician - WC20       adventure-works\paul1             M         2014-06-30T00:00:00        886023130      /3/1/14/10/  dc5ba622-b860-41ee-af92-5feb4779b589         False              23              6
295   1977-06-06               273         True      M  2011-02-15       Vice President of Sales      adventure-works\brian3             S         2014-06-30T00:00:00        112432117              /6/  f3ec557c-8b41-4ee6-bb0c-e3b93aff81e5          True              25             10
2252  1971-02-18               227         True      M  2009-12-02            Facilities Manager       adventure-works\gary1             M         2014-06-30T00:00:00        141165819            /3/4/  62f6ec59-5635-44f3-9cc1-2d8eeaf90a05          True              63             86
1708  1952-03-02                84         True      M  2010-02-05  Production Technician - WC40      adventure-works\frank3             M         2014-06-30T00:00:00        947029962        /3/1/7/6/  9af24acc-ea3e-4efe-b5e3-4762c496d57c         False              53             66
2354  1979-07-06               110         True      M  2008-12-14  Production Technician - WC50        adventure-works\jun0             S         2014-06-30T00:00:00        857651804       /3/1/11/2/  9c5f84d1-fb96-4d82-92a1-f932903deaad         False              65             90
1111  1968-09-17               222         True      M  2008-12-12              Master Scheduler     adventure-works\ascott0             S  2014-12-26T09:17:08.637000        685233686            /3/3/  13909262-4136-492f-bca3-0b0e3773b03e         False              42             44
292   1977-06-06               273         True      M  2011-02-15       Vice President of Sales      adventure-works\brian3             S         2014-06-30T00:00:00        112432117              /6/  f3ec557c-8b41-4ee6-bb0c-e3b93aff81e5          True              25             10
1920  1985-02-06               161         True      M  2008-12-15  Production Technician - WC45       adventure-works\kirk0             S         2014-06-30T00:00:00        275962311       /3/1/17/1/  08d25baa-167b-499c-8b51-31dcc856a8cf         False              57             74
1010  1975-03-17                20         True      F  2011-01-07           Marketing Assistant     adventure-works\wanida0             M         2014-06-30T00:00:00        323403273            /2/4/  43cca446-da1c-454c-8530-873ad2923e1b         False              40             41
1061  1983-10-19                73         True      F  2008-12-19  Production Technician - WC30     adventure-works\carole0             M         2014-06-30T00:00:00        138280935        /3/1/6/2/  c76a41f1-a390-4ae4-a82a-2a87764c6391         False              41             42
644   1973-09-05                64         True      M  2010-02-23  Production Technician - WC60    adventure-works\michael7             S         2014-06-30T00:00:00        582347317        /3/1/5/2/  492b24bd-bde9-4371-b96e-ccd72264b91f         False              33             26
2437  1978-02-25               111         True      M  2008-12-17  Production Technician - WC50     adventure-works\suroor0             S         2014-06-30T00:00:00        415823523       /3/1/11/3/  14010b0e-c101-4e41-b788-21923399e512         False              66             93
1931  1978-05-19               267         True      F  2009-02-16        Application Specialist      adventure-works\karen1             S         2014-06-30T00:00:00         58317344            /5/2/  45c3d0f5-3332-419d-ad40-a98996bb5531          True              57             74
2053  1956-04-01                55         True      M  2008-02-08  Production Supervisor - WC50     adventure-works\taylor0             M         2014-06-30T00:00:00        233069302          /3/1/4/  28f7ef89-2793-4989-b67d-25046543c1e3         False              59             79
579   1974-02-11               283         True      M  2011-05-31          Sales Representative      adventure-works\david8             S         2014-06-30T00:00:00        987554265          /6/1/9/  1e8f9e91-508f-4d49-acd2-775c836030ed          True              31             23
2202  1989-03-28               214         True      M  2009-02-02  Quality Assurance Technician    adventure-works\andreas0             M         2014-06-30T00:00:00        131471224        /3/2/1/2/  f4ddd64f-dffe-4df3-aa17-d6bea1924818         False              62             84
80    1979-03-29                99         True      M  2009-01-06  Production Technician - WC50       adventure-works\nuan0             S         2014-06-30T00:00:00        431859843        /3/1/9/6/  a6089357-2f2f-48cc-ab3c-d9b75a3c09d7         False              21              2
2082  1985-11-24               188         True      M  2008-12-27  Production Technician - WC45    adventure-works\douglas0             M         2014-06-30T00:00:00        435234965       /3/1/20/2/  1ab0edeb-7558-4734-8423-5a11b44dca35         False              60             80
2028  1980-04-28                93         True      M  2008-12-27  Production Supervisor - WC50     adventure-works\kok-ho0             S         2014-06-30T00:00:00        778552911          /3/1/9/  57fb2c0f-b105-49f0-967a-88f3d743cb3f         False              59             78
1136  1981-11-06               224         True      M  2009-01-07          Scheduling Assistant    adventure-works\william0             M         2014-06-30T00:00:00        621209647          /3/3/2/  1a68cd62-6fe9-4613-90d4-2cd178e4e54a         False              42             45
781   1981-08-03               171         True      M  2009-01-02  Production Technician - WC30      adventure-works\david3             S         2014-06-30T00:00:00        746373306       /3/1/18/5/  84c358d4-2493-452c-b7d6-b212c893a009         False              36             32
803   1984-12-29                70         True      M  2008-12-15  Production Technician - WC60      adventure-works\david2             M         2014-06-30T00:00:00         36151748        /3/1/5/8/  fc617bb8-d2a3-4374-873c-8ef38d80127d         False              36             33
1315  1988-12-05               193         True      M  2008-12-06  Production Technician - WC40  adventure-works\alejandro0             S         2014-06-30T00:00:00        761597760       /3/1/21/1/  8c7321d2-2c64-4902-9d64-8f5c1eb7f747         False              46             52
1349  1980-10-04               196         True      M  2008-12-24  Production Technician - WC40     adventure-works\shammi0             M         2014-06-30T00:00:00        370487086       /3/1/21/4/  9bef0c94-7969-4905-9a42-ce469c754800         False              46             53
891   1977-02-14               286         True      F  2013-05-30          Sales Representative       adventure-works\lynn0             S         2014-06-30T00:00:00        758596752          /6/2/1/  4a9a8407-a680-4a6b-8d03-511cb58f9a8a          True              38             36
169   1959-03-11                 6         True      M  2008-01-24               Design Engineer     adventure-works\jossef0             M         2014-06-30T00:00:00        998320692          /1/1/3/  e39056f1-9cd5-478d-8945-14aca7fbdcdd          True              23              6
1290  1981-05-28               203         True      M  2009-02-24  Production Technician - WC40        adventure-works\ken1             M         2014-06-30T00:00:00        693168613      /3/1/21/11/  699c00d8-c4ab-4cd2-a48f-37cbcb5bfcca         False              45             51
2537  1978-05-07               114         True      M  2009-01-13  Production Technician - WC50  adventure-works\mindaugas0             M         2014-06-30T00:00:00        342607223       /3/1/11/6/  1d784088-dacb-4185-9f60-3d2db4925ba5         False              68             97
698   1970-03-07                66         True      M  2009-12-22  Production Technician - WC60      adventure-works\karan0             S         2014-06-30T00:00:00        834186596        /3/1/5/4/  08b1ba74-dd80-4fda-8327-93268b84977b         False              34             28
296   1977-06-06               273         True      M  2011-02-15       Vice President of Sales      adventure-works\brian3             S         2014-06-30T00:00:00        112432117              /6/  f3ec557c-8b41-4ee6-bb0c-e3b93aff81e5          True              25             10
1087  1989-11-06                74         True      M  2009-01-07  Production Technician - WC30      adventure-works\bjorn0             S         2014-06-30T00:00:00        420023788        /3/1/6/3/  a942e1e0-2d5e-4858-97c0-947020e96860         False              41             43
1204  1974-12-23                 4         True      M  2007-12-05          Senior Tool Designer        adventure-works\rob0             S         2014-06-30T00:00:00        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48
26    1976-01-06               234         True      F  2009-01-31       Chief Financial Officer      adventure-works\laura1             M         2014-06-30T00:00:00        184188301              /4/  d5e315a6-bd65-4d67-9d5f-81ef5c4ef8a6          True              20              0
2387  1954-04-24               231         True      F  2010-03-07                       Janitor         adventure-works\jo1             M         2014-06-30T00:00:00        153479919        /3/4/1/3/  39af5cca-9b52-41e5-b510-72901d2578f6         False              65             91
790   1976-02-11                67         True      M  2009-03-05  Production Technician - WC60        adventure-works\jay0             S         2014-06-30T00:00:00         63179277        /3/1/5/5/  18187809-5294-474f-85a1-d5be6bd518d6         False              36             32

### Verificando valores nulos/em branco nos dados

In [6]:
#valores nulos

EDA_humanresources_employee.isnull().sum()

birthdate           0
businessentityid    0
currentflag         0
gender              0
hiredate            0
jobtitle            0
loginid             0
maritalstatus       0
modifieddate        0
nationalidnumber    0
organizationnode    0
rowguid             0
salariedflag        0
sickleavehours      0
vacationhours       0
dtype: int64

In [7]:
# dropar colunas vazias

In [8]:
#total valores unicos de cada variável

valores_unicos = []

for i in EDA_humanresources_employee.columns[0:15].tolist():
    print(i, ':', len(EDA_humanresources_employee[i].astype(str).value_counts()))
    valores_unicos.append(len(EDA_humanresources_employee[i].astype(str).value_counts()))

birthdate : 275
businessentityid : 290
currentflag : 1
gender : 2
hiredate : 164
jobtitle : 67
loginid : 290
maritalstatus : 2
modifieddate : 2
nationalidnumber : 290
organizationnode : 290
rowguid : 290
salariedflag : 2
sickleavehours : 51
vacationhours : 100

In [9]:
# Identificar duplicatas com base em 'businessentityid'
duplicatas = EDA_humanresources_employee[EDA_humanresources_employee.duplicated(subset=['businessentityid'], keep=False)]

# Verificar se existem duplicatas
if not duplicatas.empty:
    # Ordenar duplicatas por 'businessentityid' e 'modifieddate'
    duplicatas_ordenadas = duplicatas.sort_values(by=['businessentityid', 'modifieddate'])
    
    # Exibir duplicatas ordenadas
    print("Duplicatas ordenadas:")
    print(duplicatas_ordenadas)
else:
    print("Não foram encontradas duplicatas.")

Duplicatas ordenadas:
       birthdate  businessentityid  currentflag gender    hiredate                 jobtitle                  loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2583  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2584  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2585  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2586  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2587  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
...          ...               ...          ...    ...         ...                      ...                      ...           ...                  ...              ...              ...                                   ...           ...             ...            ...
841   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
842   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
843   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
844   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
845   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34

[2610 rows x 15 columns]

In [10]:
print(duplicatas_ordenadas.drop_duplicates())

       birthdate  businessentityid  currentflag gender    hiredate                       jobtitle                   loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2583  1969-01-29                 1         True      M  2009-01-14        Chief Executive Officer      adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
27    1971-08-01                 2         True      F  2008-01-31  Vice President of Engineering    adventure-works\terri0             S  2014-06-30T00:00:00        245797967              /1/  45e8f437-670d-4409-93cb-f9424a40d6ee          True              20              1
54    1974-11-12                 3         True      M  2007-11-11            Engineering Manager  adventure-works\roberto0             M  2014-06-30T00:00:00        509647174            /1/1/  9bbbfb2c-efbb-4217-9ab7-f97689328841          True              21              2
1197  1974-12-23                 4         True      M  2007-12-05           Senior Tool Designer      adventure-works\rob0             S  2014-06-30T00:00:00        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48
135   1952-09-27                 5         True      F  2008-01-06                Design Engineer     adventure-works\gail0             M  2014-06-30T00:00:00        695256908          /1/1/2/  ec84ae09-f9b8-4a15-b4a9-6ccbab919b08          True              22              5
...          ...               ...          ...    ...         ...                            ...                       ...           ...                  ...              ...              ...                                   ...           ...             ...            ...
891   1977-02-14               286         True      F  2013-05-30           Sales Representative     adventure-works\lynn0             S  2014-06-30T00:00:00        758596752          /6/2/1/  4a9a8407-a680-4a6b-8d03-511cb58f9a8a          True              38             36
522   1957-09-20               287         True      F  2012-04-16         European Sales Manager      adventure-works\amy0             M  2014-06-30T00:00:00        982310417            /6/3/  66d66445-ee78-4676-9e66-0e22d6109a92          True              30             21
864   1975-07-09               288         True      F  2013-05-30           Sales Representative   adventure-works\rachel0             S  2014-06-30T00:00:00        954276278          /6/3/1/  b9bf7741-e0ca-4f37-acde-a4f78c6d03e9          True              37             35
918   1968-03-17               289         True      F  2012-05-30           Sales Representative      adventure-works\jae0             M  2014-06-30T00:00:00        668991357          /6/3/2/  723a5921-d8a1-4659-9bc4-13c4cf7c9c91          True              38             37
837   1975-09-30               290         True      M  2012-05-30           Sales Representative   adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34

[290 rows x 15 columns]

In [11]:
duplicados_businessentityid = EDA_humanresources_employee[EDA_humanresources_employee.duplicated(subset=['businessentityid'], keep=False)]

# Ordenar por 'businessentityid' para facilitar a análise
duplicados_ordenados = duplicados_businessentityid.sort_values(by=['businessentityid'])

# Exibir todas as linhas duplicadas
print(duplicados_ordenados)

       birthdate  businessentityid  currentflag gender    hiredate                 jobtitle                  loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2591  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2590  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2587  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2589  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2585  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
...          ...               ...          ...    ...         ...                      ...                      ...           ...                  ...              ...              ...                                   ...           ...             ...            ...
843   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
839   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
838   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
845   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
837   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34

[2610 rows x 15 columns]

In [12]:
pd.set_option('display.max_rows', None)
contagem = EDA_humanresources_employee['businessentityid'].value_counts()

# Filtrar apenas os IDs que aparecem mais de uma vez
repetidos = contagem[contagem > 1]

# Exibir repetidos novamente
print(repetidos)

businessentityid
88     9
139    9
227    9
209    9
53     9
233    9
118    9
49     9
230    9
120    9
206    9
50     9
214    9
207    9
51     9
213    9
208    9
52     9
62     9
212    9
40     9
190    9
216    9
210    9
48     9
215    9
219    9
187    9
55     9
220    9
27     9
188    9
211    9
189    9
287    9
35     9
172    9
280    9
32     9
175    9
283    9
38     9
184    9
29     9
185    9
36     9
181    9
285    9
28     9
182    9
34     9
153    9
10     9
37     9
155    9
33     9
183    9
31     9
58     9
157    9
59     9
159    9
60     9
30     9
158    9
274    9
278    9
168    9
43     9
290    9
150    9
41     9
288    9
146    9
63     9
169    9
69     9
282    9
171    9
67     9
173    9
70     9
68     9
276    9
174    9
66     9
176    9
65     9
279    9
179    9
177    9
277    9
39     9
167    9
170    9
64     9
281    9
178    9
75     9
222    9
22     9
76     9
224    9
23     9
77     9
223    9
72     9
17     9
180    9
73     9
19     9
26     9
74     9
21     9
149    9
42     9
284    9
16     9
134    9
151    9
20     9
152    9
46     9
286    9
147    9
45     9
289    9
148    9
44     9
275    9
257    9
201    9
249    9
259    9
200    9
253    9
262    9
204    9
193    9
237    9
255    9
196    9
236    9
258    9
199    9
235    9
240    9
250    9
202    9
238    9
260    9
203    9
239    9
261    9
24     9
194    9
225    9
4      9
18     9
197    9
226    9
198    9
80     9
263    9
102    9
84     9
271    9
132    9
87     9
270    9
244    9
9      9
85     9
246    9
25     9
81     9
247    9
47     9
79     9
242    9
252    9
7      9
83     9
243    9
8      9
82     9
241    9
254    9
195    9
245    9
256    9
86     9
248    9
251    9
165    9
205    9
218    9
108    9
163    9
217    9
191    9
93     9
164    9
268    9
160    9
161    9
267    9
162    9
186    9
221    9
265    9
130    9
192    9
272    9
131    9
78     9
269    9
127    9
128    9
166    9
264    9
129    9
145    9
266    9
133    9
71     9
122    9
90     9
116    9
124    9
92     9
1      9
117    9
97     9
125    9
109    9
123    9
91     9
113    9
126    9
89     9
114    9
106    9
115    9
228    9
103    9
111    9
121    9
104    9
119    9
54     9
232    9
105    9
110    9
229    9
107    9
112    9
231    9
61     9
12     9
135    9
56     9
154    9
57     9
273    9
156    9
6      9
144    9
94     9
11     9
138    9
100    9
13     9
137    9
142    9
101    9
15     9
136    9
98     9
5      9
140    9
96     9
234    9
2      9
141    9
95     9
3      9
143    9
99     9
14     9
Name: count, dtype: int64

In [13]:
#copia da humanresources_employee
raw_data_bkp = EDA_humanresources_employee.copy()

# Ordenar o DataFrame por 'businessentityid' e 'modifieddate'
EDA_humanresources_employee = EDA_humanresources_employee.sort_values(by=['businessentityid', 'modifieddate'])

# Remover duplicatas mantendo a última ocorrência com base em 'modifieddate'
EDA_humanresources_employee = EDA_humanresources_employee.drop_duplicates(subset=['businessentityid'], keep='last')

print(f"Linhas após remover duplicatas (baseando-se na última 'modifieddate'): {len(EDA_humanresources_employee)}")

Linhas após remover duplicatas (baseando-se na última 'modifieddate'): 290

In [14]:
# Verificar informações do DataFrame
print(EDA_humanresources_employee.info())

<class 'pandas.core.frame.DataFrame'>
Index: 290 entries, 2591 to 845
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   birthdate         290 non-null    object
 1   businessentityid  290 non-null    int64
 2   currentflag       290 non-null    bool
 3   gender            290 non-null    object
 4   hiredate          290 non-null    object
 5   jobtitle          290 non-null    object
 6   loginid           290 non-null    object
 7   maritalstatus     290 non-null    object
 8   modifieddate      290 non-null    object
 9   nationalidnumber  290 non-null    object
 10  organizationnode  290 non-null    object
 11  rowguid           290 non-null    object
 12  salariedflag      290 non-null    bool
 13  sickleavehours    290 non-null    int64
 14  vacationhours     290 non-null    int64
dtypes: bool(2), int64(3), object(10)
memory usage: 32.3+ KB
None

In [15]:
# Identificar colunas com datas
date_columns = ['birthdate', 'hiredate', 'modifieddate']

# Converter as colunas para datetime se ainda não estiverem
for col in date_columns:
    EDA_humanresources_employee[col] = pd.to_datetime(EDA_humanresources_employee[col], errors='coerce')

# Criar uma cópia do DataFrame para exibição formatada
formatted_data = EDA_humanresources_employee.copy()

# Formatar todas as colunas de datas para exibição
for col in date_columns:
    formatted_data[col] = EDA_humanresources_employee[col].dt.strftime('%Y-%m-%d %H:%M:%S')

# Exibir o DataFrame formatado
print(formatted_data.head())

# Verificar os tipos originais permanecem datetime64[ns]
print("\nTipos originais das colunas no DataFrame principal:")
print(EDA_humanresources_employee[date_columns].dtypes)

                birthdate  businessentityid  currentflag gender             hiredate                       jobtitle                   loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2591  1969-01-29 00:00:00                 1         True      M  2009-01-14 00:00:00        Chief Executive Officer      adventure-works\ken0             S  2014-06-30 00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
35    1971-08-01 00:00:00                 2         True      F  2008-01-31 00:00:00  Vice President of Engineering    adventure-works\terri0             S  2014-06-30 00:00:00        245797967              /1/  45e8f437-670d-4409-93cb-f9424a40d6ee          True              20              1
62    1974-11-12 00:00:00                 3         True      M  2007-11-11 00:00:00            Engineering Manager  adventure-works\roberto0             M  2014-06-30 00:00:00        509647174            /1/1/  9bbbfb2c-efbb-4217-9ab7-f97689328841          True              21              2
1205  1974-12-23 00:00:00                 4         True      M  2007-12-05 00:00:00           Senior Tool Designer      adventure-works\rob0             S  2014-06-30 00:00:00        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48
143   1952-09-27 00:00:00                 5         True      F  2008-01-06 00:00:00                Design Engineer     adventure-works\gail0             M  2014-06-30 00:00:00        695256908          /1/1/2/  ec84ae09-f9b8-4a15-b4a9-6ccbab919b08          True              22              5

Tipos originais das colunas no DataFrame principal:
birthdate       datetime64[ns]
hiredate        datetime64[ns]
modifieddate    datetime64[ns]
dtype: object

In [16]:
# Padronizar textos em jobtitle e gender
EDA_humanresources_employee['jobtitle'] = EDA_humanresources_employee['jobtitle'].str.strip().str.title()
EDA_humanresources_employee['gender'] = EDA_humanresources_employee['gender'].str.strip().str.upper()

# Verificar valores únicos para garantir a padronização
print("Valores únicos em 'jobtitle':", EDA_humanresources_employee['jobtitle'].unique())
print("Valores únicos em 'gender':", EDA_humanresources_employee['gender'].unique())

Valores únicos em 'jobtitle': ['Chief Executive Officer' 'Vice President Of Engineering'
 'Engineering Manager' 'Senior Tool Designer' 'Design Engineer'
 'Research And Development Manager' 'Research And Development Engineer'
 'Tool Designer' 'Senior Design Engineer' 'Marketing Manager'
 'Marketing Assistant' 'Marketing Specialist'
 'Vice President Of Production' 'Production Control Manager'
 'Production Supervisor - Wc60' 'Production Technician - Wc60'
 'Production Supervisor - Wc10' 'Production Technician - Wc10'
 'Production Supervisor - Wc50' 'Production Technician - Wc50'
 'Production Supervisor - Wc30' 'Production Technician - Wc30'
 'Production Supervisor - Wc40' 'Production Technician - Wc40'
 'Shipping And Receiving Supervisor' 'Stocker'
 'Shipping And Receiving Clerk' 'Production Supervisor - Wc20'
 'Production Technician - Wc20' 'Production Supervisor - Wc45'
 'Production Technician - Wc45' 'Quality Assurance Manager'
 'Quality Assurance Supervisor' 'Quality Assurance Technician'
 'Document Control Manager' 'Control Specialist'
 'Document Control Assistant' 'Master Scheduler' 'Scheduling Assistant'
 'Facilities Manager' 'Maintenance Supervisor' 'Janitor'
 'Facilities Administrative Assistant' 'Chief Financial Officer'
 'Human Resources Manager' 'Human Resources Administrative Assistant'
 'Recruiter' 'Benefits Specialist' 'Accounts Manager'
 'Accounts Receivable Specialist' 'Accountant'
 'Accounts Payable Specialist' 'Finance Manager' 'Purchasing Manager'
 'Buyer' 'Purchasing Assistant' 'Assistant To The Chief Financial Officer'
 'Information Services Manager' 'Network Manager' 'Network Administrator'
 'Application Specialist' 'Database Administrator'
 'Vice President Of Sales' 'North American Sales Manager'
 'Sales Representative' 'Pacific Sales Manager' 'European Sales Manager']
Valores únicos em 'gender': ['M' 'F']

In [17]:
# Identificar colunas numéricas para análise 
numeric_columns = ['sickleavehours', 'vacationhours']

# Exibir estatísticas descritivas
print(EDA_humanresources_employee[numeric_columns].describe())

# Calcular limites para outliers (IQR - Intervalo Interquartil)
for col in numeric_columns:
    q1 = EDA_humanresources_employee[col].quantile(0.25)
    q3 = EDA_humanresources_employee[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    
    # Exibir os limites
    print(f"\nColuna: {col}")
    print(f"Limite inferior: {lower_bound}, Limite superior: {upper_bound}")
    
    # Filtrar outliers
    outliers = EDA_humanresources_employee[(EDA_humanresources_employee[col] < lower_bound) | (EDA_humanresources_employee[col] > upper_bound)]
    print(f"Outliers detectados ({len(outliers)}):")
    print(outliers[[col]])

       sickleavehours  vacationhours
count          290.00         290.00
mean            45.31          50.61
std             14.54          28.79
min             20.00           0.00
25%             33.00          26.25
50%             46.00          51.00
75%             58.00          75.00
max             80.00          99.00

Coluna: sickleavehours
Limite inferior: -4.5, Limite superior: 95.5
Outliers detectados (0):
Empty DataFrame
Columns: [sickleavehours]
Index: []

Coluna: vacationhours
Limite inferior: -46.875, Limite superior: 148.125
Outliers detectados (0):
Empty DataFrame
Columns: [vacationhours]
Index: []

In [18]:

# Criar a coluna 'hire_year' com base em 'hiredate'
EDA_humanresources_employee['hire_year'] = EDA_humanresources_employee['hiredate'].dt.year


#verificando outros dados para detectar outliers
anos_contratacao = [int(ano) for ano in EDA_humanresources_employee['hire_year'].unique()]
anos_contratacao.sort()
print(anos_contratacao)

print("Valores únicos em 'gender':", EDA_humanresources_employee['gender'].unique())
print("Valores únicos em 'salariedflag':", EDA_humanresources_employee['salariedflag'].unique())

[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]
Valores únicos em 'gender': ['M' 'F']
Valores únicos em 'salariedflag': [ True False]

In [19]:
# Verificar valores ausentes
missing = EDA_humanresources_employee.isnull().sum()
print("Valores ausentes por coluna:")
print(missing)

# Tratar colunas críticas
if missing['hiredate'] > 0:
    print("Tratar valores ausentes em 'hiredate' (decisão: remover ou imputar)")

if missing['jobtitle'] > 0:
    print("Tratar valores ausentes em 'jobtitle' (decisão: remover ou imputar)")

if missing['businessentityid'] > 0:
    print("Erro crítico: 'businessentityid' não pode ter valores ausentes!")

Valores ausentes por coluna:
birthdate           0
businessentityid    0
currentflag         0
gender              0
hiredate            0
jobtitle            0
loginid             0
maritalstatus       0
modifieddate        3
nationalidnumber    0
organizationnode    0
rowguid             0
salariedflag        0
sickleavehours      0
vacationhours       0
hire_year           0
dtype: int64

In [20]:
# Verificar linhas com 'modifieddate' ausente
missing_modifieddate = EDA_humanresources_employee[EDA_humanresources_employee['modifieddate'].isnull()]
print("Linhas com 'modifieddate' ausente:")
print(missing_modifieddate)

Linhas com 'modifieddate' ausente:
      birthdate  businessentityid  currentflag gender   hiredate                    jobtitle                  loginid maritalstatus modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours  hire_year
1079 1982-11-03                26         True      M 2008-12-01  Production Control Manager   adventure-works\peter0             M          NaT        277173473            /3/1/  69d5d162-e817-45e7-9dec-5d9b8310e7b1          True              41             43       2008
2096 1977-10-26               211         True      M 2009-02-28   Quality Assurance Manager   adventure-works\hazem0             S          NaT        398223854            /3/2/  05c84608-f445-4f9d-bb5c-0828c309c29d          True              60             80       2009
1115 1968-09-17               222         True      M 2008-12-12            Master Scheduler  adventure-works\ascott0             S          NaT        685233686            /3/3/  13909262-4136-492f-bca3-0b0e3773b03e         False              42             44       2008

In [21]:
# Preencher 'modifieddate' ausente ou igual a 'hiredate', pois pode ser a ultima data de modificação no sistema.
EDA_humanresources_employee.loc[EDA_humanresources_employee['modifieddate'].isnull() | (EDA_humanresources_employee['modifieddate'] == pd.Timestamp('1900-01-01')), 'modifieddate'] = EDA_humanresources_employee['hiredate']

# Exibir as linhas ajustadas
print("Linhas onde 'modifieddate' foi ajustado para 'hiredate':")
print(EDA_humanresources_employee.loc[EDA_humanresources_employee['modifieddate'] == EDA_humanresources_employee['hiredate']])

Linhas onde 'modifieddate' foi ajustado para 'hiredate':
      birthdate  businessentityid  currentflag gender   hiredate                    jobtitle                  loginid maritalstatus modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours  hire_year
1079 1982-11-03                26         True      M 2008-12-01  Production Control Manager   adventure-works\peter0             M   2008-12-01        277173473            /3/1/  69d5d162-e817-45e7-9dec-5d9b8310e7b1          True              41             43       2008
2096 1977-10-26               211         True      M 2009-02-28   Quality Assurance Manager   adventure-works\hazem0             S   2009-02-28        398223854            /3/2/  05c84608-f445-4f9d-bb5c-0828c309c29d          True              60             80       2009
1115 1968-09-17               222         True      M 2008-12-12            Master Scheduler  adventure-works\ascott0             S   2008-12-12        685233686            /3/3/  13909262-4136-492f-bca3-0b0e3773b03e         False              42             44       2008

In [22]:
# Verificar unicidade de 'businessentityid'
is_unique = EDA_humanresources_employee['businessentityid'].is_unique
print(f"'businessentityid' é único? {is_unique}")

'businessentityid' é único? True

In [23]:
# Definir regex para validar números (exemplo: apenas dígitos, 9 caracteres)
# acrescentei para ver se tinha um padrão, mas não tem
regex = r'^\d{9}$'

# Verificar valores inválidos
invalid_nationalid = EDA_humanresources_employee[~EDA_humanresources_employee['nationalidnumber'].astype(str).str.match(regex)]
print(f"Valores inválidos em 'nationalidnumber':\n{invalid_nationalid['nationalidnumber']}")

Valores inválidos em 'nationalidnumber':
89      42487730
116     56920285
989     24756624
1070    52541318
1124    95958330
1178    72636981
512     14417807
593      6298838
890     66073987
1673    33237992
2276     9659517
287     10708100
242     92096924
719      8066363
791     63179277
809     36151748
1601    58791499
1628     1662732
1736     7201901
2528    90888098
2555    82638150
2510    54759846
1727     1300049
998     45615666
233     63761469
206     25011600
71      56772045
278     97728960
1898    65848458
1763    60114406
800     87268837
1241    19312190
2159    20244403
2312    28414965
1466       30845
1583    60517918
1421    20269531
1934    58317344
557     61161660
980     90836195
Name: nationalidnumber, dtype: object

In [24]:
is_unique = EDA_humanresources_employee['nationalidnumber'].is_unique
print(f"'nationalidnumber' é único? {is_unique}")

'nationalidnumber' é único? True

In [25]:
# Criar um backup do DataFrame tratado
EDA_humanresources_employee_bkp_v2 = EDA_humanresources_employee.copy()

# Verificar o tamanho do backup e as primeiras linhas
print(f"Backup criado com {len(EDA_humanresources_employee_bkp_v2)} linhas.")
print(EDA_humanresources_employee_bkp_v2.head())

Backup criado com 290 linhas.
      birthdate  businessentityid  currentflag gender   hiredate                       jobtitle                   loginid maritalstatus modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours  hire_year
2591 1969-01-29                 1         True      M 2009-01-14        Chief Executive Officer      adventure-works\ken0             S   2014-06-30        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99       2009
35   1971-08-01                 2         True      F 2008-01-31  Vice President Of Engineering    adventure-works\terri0             S   2014-06-30        245797967              /1/  45e8f437-670d-4409-93cb-f9424a40d6ee          True              20              1       2008
62   1974-11-12                 3         True      M 2007-11-11            Engineering Manager  adventure-works\roberto0             M   2014-06-30        509647174            /1/1/  9bbbfb2c-efbb-4217-9ab7-f97689328841          True              21              2       2007
1205 1974-12-23                 4         True      M 2007-12-05           Senior Tool Designer      adventure-works\rob0             S   2014-06-30        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48       2007
143  1952-09-27                 5         True      F 2008-01-06                Design Engineer     adventure-works\gail0             M   2014-06-30        695256908          /1/1/2/  ec84ae09-f9b8-4a15-b4a9-6ccbab919b08          True              22              5       2008

In [26]:
# Verificar e documentar colunas existentes
print("Colunas mantidas no dataset:", EDA_humanresources_employee.columns.tolist())

Colunas mantidas no dataset: ['birthdate', 'businessentityid', 'currentflag', 'gender', 'hiredate', 'jobtitle', 'loginid', 'maritalstatus', 'modifieddate', 'nationalidnumber', 'organizationnode', 'rowguid', 'salariedflag', 'sickleavehours', 'vacationhours', 'hire_year']

In [27]:
for col in EDA_humanresources_employee.columns:
    print(f"Valores únicos em '{col}':", EDA_humanresources_employee[col].unique()[:3])  # Limitar a exibição a 10 valores

Valores únicos em 'birthdate': <DatetimeArray>
['1969-01-29 00:00:00', '1971-08-01 00:00:00', '1974-11-12 00:00:00']
Length: 3, dtype: datetime64[ns]
Valores únicos em 'businessentityid': [1 2 3]
Valores únicos em 'currentflag': [ True]
Valores únicos em 'gender': ['M' 'F']
Valores únicos em 'hiredate': <DatetimeArray>
['2009-01-14 00:00:00', '2008-01-31 00:00:00', '2007-11-11 00:00:00']
Length: 3, dtype: datetime64[ns]
Valores únicos em 'jobtitle': ['Chief Executive Officer' 'Vice President Of Engineering'
 'Engineering Manager']
Valores únicos em 'loginid': ['adventure-works\\ken0' 'adventure-works\\terri0'
 'adventure-works\\roberto0']
Valores únicos em 'maritalstatus': ['S' 'M']
Valores únicos em 'modifieddate': <DatetimeArray>
['2014-06-30 00:00:00', '2008-12-01 00:00:00', '2009-02-28 00:00:00']
Length: 3, dtype: datetime64[ns]
Valores únicos em 'nationalidnumber': ['295847284' '245797967' '509647174']
Valores únicos em 'organizationnode': ['/' '/1/' '/1/1/']
Valores únicos em 'rowguid': ['f01251e5-96a3-448d-981e-0f99d789110d'
 '45e8f437-670d-4409-93cb-f9424a40d6ee'
 '9bbbfb2c-efbb-4217-9ab7-f97689328841']
Valores únicos em 'salariedflag': [ True False]
Valores únicos em 'sickleavehours': [69 20 21]
Valores únicos em 'vacationhours': [99  1  2]
Valores únicos em 'hire_year': [2009 2008 2007]

In [28]:
# Listar colunas binárias esperadas
binary_columns = ['currentflag', 'salariedflag']

# Verificar valores únicos em colunas binárias
for col in binary_columns:
    unique_values = EDA_humanresources_employee[col].unique()
    print(f"Valores únicos em '{col}': {unique_values}")

Valores únicos em 'currentflag': [ True]
Valores únicos em 'salariedflag': [ True False]

In [29]:
# Contar valores em 'currentflag' e 'salariedflag'
print("Distribuição de 'currentflag':")
print(EDA_humanresources_employee['currentflag'].value_counts())

print("\nDistribuição de 'salariedflag':")
print(EDA_humanresources_employee['salariedflag'].value_counts())


#se vale a pena deletar ou não a coluna currentflag, já que só tem 1 valor e é true ?!

Distribuição de 'currentflag':
currentflag
True    290
Name: count, dtype: int64

Distribuição de 'salariedflag':
salariedflag
False    238
True      52
Name: count, dtype: int64

In [30]:
# 1. Verificar se todos os funcionários ativos têm currentflag = True, pois deveria ser false = demitido/desligado
print("Funcionários ativos errados:", EDA_humanresources_employee[EDA_humanresources_employee['currentflag'] != True])

# 2. Validar datas
print("Contratações futuras:", EDA_humanresources_employee[EDA_humanresources_employee['hiredate'] > pd.Timestamp.now()])
print("Modifieddate antes de hiredate:", EDA_humanresources_employee[EDA_humanresources_employee['modifieddate'] < EDA_humanresources_employee['hiredate']])

# 3. Verificar unicidade de identificadores
print("Duplicados em 'businessentityid':", EDA_humanresources_employee['businessentityid'].duplicated().sum())
print("Duplicados em 'nationalidnumber':", EDA_humanresources_employee['nationalidnumber'].duplicated().sum())

Funcionários ativos errados: Empty DataFrame
Columns: [birthdate, businessentityid, currentflag, gender, hiredate, jobtitle, loginid, maritalstatus, modifieddate, nationalidnumber, organizationnode, rowguid, salariedflag, sickleavehours, vacationhours, hire_year]
Index: []
Contratações futuras: Empty DataFrame
Columns: [birthdate, businessentityid, currentflag, gender, hiredate, jobtitle, loginid, maritalstatus, modifieddate, nationalidnumber, organizationnode, rowguid, salariedflag, sickleavehours, vacationhours, hire_year]
Index: []
Modifieddate antes de hiredate: Empty DataFrame
Columns: [birthdate, businessentityid, currentflag, gender, hiredate, jobtitle, loginid, maritalstatus, modifieddate, nationalidnumber, organizationnode, rowguid, salariedflag, sickleavehours, vacationhours, hire_year]
Index: []
Duplicados em 'businessentityid': 0
Duplicados em 'nationalidnumber': 0

In [31]:
# Definir Dataset e Nome da Tabela
dataset_id = 'raw_data_cleaned'  # Substitua pelo nome do seu Dataset
table_id = 'humanresources_employee'   # Substitua pelo nome da sua Tabela
full_table_id = f"{client.project}.{dataset_id}.{table_id}"  # Nome completo da tabela

# Exportar para o BigQuery
EDA_humanresources_employee.to_gbq(full_table_id, if_exists='replace', credentials=client._credentials)

  0%|          | 0/1 [00:00<?, ?it/s]

100%|██████████| 1/1 [00:00<00:00, 8224.13it/s]

## ESTATÍSTICA DESCRITIVA

In [32]:
# Selecionar colunas relevantes para análise descritiva
cols_para_analise = ['sickleavehours', 'vacationhours', 'salariedflag']

# Garantir que as datas estejam no formato correto
EDA_humanresources_employee['hire_year'] = pd.to_datetime(EDA_humanresources_employee['hiredate']).dt.year

# Adicionar a nova coluna à lista
cols_para_analise.append('hire_year')

# Gerar estatísticas descritivas
analise_descritiva = EDA_humanresources_employee[cols_para_analise].describe(include='all')

# Substituir NaN por '-'
analise_descritiva = analise_descritiva.fillna('-')

print(analise_descritiva)

       sickleavehours vacationhours salariedflag hire_year
count          290.00        290.00          290    290.00
unique              -             -            2         -
top                 -             -        False         -
freq                -             -          238         -
mean            45.31         50.61            -   2009.02
std             14.54         28.79            -      1.01
min             20.00          0.00            -   2006.00
25%             33.00         26.25            -   2008.00
50%             46.00         51.00            -   2009.00
75%             58.00         75.00            -   2009.00
max             80.00         99.00            -   2013.00