### EDA (Exploratory Data Analysis) & Data Cleaning

In [2]:

##import das bibliotecas e adequando colunas, linhas e formato de números

from google.cloud import bigquery
from dotenv import load_dotenv
import pandas as pd
import pandas_gbq as gbq
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import re

# Carrega o .env
load_dotenv()

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Temp\desafiolh-445818-3cb0f62cb9ef.json"

# Verificar se a configuração está correta
print("Credenciais do BigQuery:", os.getenv("GOOGLE_APPLICATION_CREDENTIALS"))

# Verifica se a variável está configurada
print(os.getenv("GOOGLE_APPLICATION_CREDENTIALS"))


# Configurar Pandas para exibir todas as colunas e todas as linhas completas
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', 1000)


pd.options.display.float_format = '{:.2f}'.format

Credenciais do BigQuery: C:\Temp\desafiolh-445818-3cb0f62cb9ef.json
C:\Temp\desafiolh-445818-3cb0f62cb9ef.json

In [3]:
# Configurar o cliente do BigQuery
client = bigquery.Client()

# Nome do dataset e tabela
dataset_id = 'raw_data'

In [4]:
# Listar tabelas no dataset
tables = client.list_tables('raw_data')
print("Tabelas disponíveis:")
for table in tables:
    print(table.table_id)

Tabelas disponíveis:
humanresources_employee
person_address
person_businessentity
person_person
production_location
production_product
production_productcategory
production_productinventory
production_productsubcategory
sales_customer
sales_salesorderdetail
sales_salesorderheader
sales_salesterritory
sales_store

In [5]:
query = f"SELECT * FROM `raw_data.humanresources_employee`"
data = client.query(query).result().to_dataframe()

# Expandir a coluna JSON
EDA_humanresources_employee = pd.json_normalize(data['data'])

# Exibir os dados expandidos
print(EDA_humanresources_employee.sample(n=50))

c:\Users\wrpen\OneDrive\Desktop\df_lh\.venv\lib\site-packages\google\cloud\bigquery\table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(
c:\Users\wrpen\OneDrive\Desktop\df_lh\.venv\lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:208: UserWarning: Unable to determine Arrow type for field 'data'.
  warnings.warn(

       birthdate  businessentityid  currentflag gender    hiredate                           jobtitle                     loginid maritalstatus                modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
592   1966-12-14                38         True      F  2010-01-16       Production Technician - WC60        adventure-works\kim1             M         2014-06-30T00:00:00          6298838       /3/1/1/11/  891c27f4-28cc-44bb-bea3-da5ea7fbe957         False              32             24
117   1970-11-12               136         True      M  2009-12-11       Production Technician - WC20  adventure-works\sylvester0             M         2014-06-30T00:00:00        701156975       /3/1/14/2/  d9c43d08-3882-4e5c-bdf0-f6bd7004cd04         False              22              4
1552  1974-08-21               252         True      M  2009-02-28                              Buyer     adventure-works\arvind0             M         2014-06-30T00:00:00        792847334        /4/3/1/2/  51de26f0-6ed9-4a70-b689-88eb882674b6         False              50             60
272   1967-03-02               154         True      M  2008-12-23       Production Technician - WC20    adventure-works\raymond0             M         2014-06-30T00:00:00         97728960       /3/1/16/2/  9f01e1fb-b893-40cc-9f5c-aaf89f9b7af5         False              25             10
1199  1974-12-23                 4         True      M  2007-12-05               Senior Tool Designer        adventure-works\rob0             S         2014-06-30T00:00:00        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48
1460  1983-07-08               241         True      M  2009-01-30                   Accounts Manager      adventure-works\david6             M         2014-06-30T00:00:00            30845            /4/2/  2dc9d534-f5d1-4a14-8282-0a2a0eb6fd4d          True              48             57
1839  1983-02-28               192         True      F  2009-03-05       Production Supervisor - WC40     adventure-works\brenda0             M         2014-06-30T00:00:00        634335025         /3/1/21/  714d519b-375e-4c5a-8491-c758d00cf95f         False              55             71
37    1974-09-10               141         True      M  2010-01-24       Production Technician - WC20        adventure-works\min0             M         2014-06-30T00:00:00        872923042       /3/1/14/7/  cc75c35d-1566-43fa-b2e9-d1e508efdcd1         False              20              1
1819  1977-03-27               265         True      M  2008-12-04              Network Administrator    adventure-works\ashvini0             S         2014-06-30T00:00:00        749389530          /5/1/1/  2e680c1c-7c02-4343-9626-6f97273414c0         False              55             70
734   1974-11-15               179         True      M  2009-03-05       Production Technician - WC30        adventure-works\jan0             S         2014-06-30T00:00:00        587567941      /3/1/18/13/  975f827d-be71-4eb1-8dbf-e6c451d1fad5         False              35             30
331   1979-08-16                59         True      M  2008-12-24       Production Technician - WC50        adventure-works\bob0             S         2014-06-30T00:00:00        843479922        /3/1/4/4/  68616aea-81e5-4940-a7e4-6fba882bccf6         False              26             12
1390  1972-09-17               257         True      M  2010-01-27                              Buyer       adventure-works\eric2             S         2014-06-30T00:00:00        381073001        /4/3/1/7/  a28ab377-06f5-417a-a5e2-59f459088699         False              47             54
2290  1971-06-13               118         True      M  2009-02-13       Production Technician - WC50        adventure-works\don0             M         2014-06-30T00:00:00        222400012      /3/1/11/10/  e720053d-922e-4c91-b81a-a1ca4ef8bb0e         False              64             88
1469  1970-11-24               254         True      M  2010-01-04                              Buyer     adventure-works\fukiko0             M         2014-06-30T00:00:00        482810518        /4/3/1/4/  36cd6636-c657-4fc7-9bfa-cc1bfa9102a2         False              48             57
679   1980-02-27               276         True      F  2011-05-31               Sales Representative      adventure-works\linda3             M         2014-06-30T00:00:00        191644724          /6/1/2/  4509f387-d73a-43dc-a502-b1c27aa1dc9e          True              33             27
628   1979-11-02               167         True      M  2008-12-02       Production Technician - WC30      adventure-works\david1             S         2014-06-30T00:00:00        498138869       /3/1/18/1/  ed7ee92e-a9d0-4e3a-8dee-4b143e459f7e         False              32             25
977   1978-01-05               284         True      M  2012-09-30               Sales Representative       adventure-works\tete0             M         2014-06-30T00:00:00         90836195         /6/1/10/  0c67ce00-de78-4712-908f-06939a2c58d5          True              39             39
1937  1980-12-25               162         True      F  2009-01-03       Production Technician - WC45      adventure-works\laura0             S         2014-06-30T00:00:00        514829225       /3/1/17/2/  fccd65ba-2702-4409-ae56-75af1710ac78         False              57             75
1621  1970-12-23                85         True      M  2009-12-11       Production Technician - WC40      adventure-works\brian2             S         2014-06-30T00:00:00          1662732        /3/1/7/7/  c294f676-caaf-4924-9730-bc81ae408be1         False              51             63
819   1984-08-25               168         True      M  2008-12-07       Production Technician - WC30    adventure-works\garrett0             S         2014-06-30T00:00:00        271438431       /3/1/18/2/  a6f5f72f-aa03-41b7-8b6e-b123bd360753         False              37             34
1721  1986-04-09               132         True      F  2009-02-22       Production Technician - WC40     adventure-works\nicole0             M         2014-06-30T00:00:00          1300049       /3/1/13/5/  15671e3b-016f-41fd-840b-5a9f7d776d9a         False              53             67
970   1984-07-25                42         True      M  2008-12-27       Production Technician - WC60      adventure-works\james0             M         2014-06-30T00:00:00        339712426        /3/1/2/2/  82e52d5a-165b-4c6d-9773-c3a6b6332ecd         False              39             39
1842  1983-02-28               192         True      F  2009-03-05       Production Supervisor - WC40     adventure-works\brenda0             M         2014-06-30T00:00:00        634335025         /3/1/21/  714d519b-375e-4c5a-8491-c758d00cf95f         False              55             71
1064  1978-01-29                19         True      F  2011-02-14                Marketing Assistant       adventure-works\mary2             S         2014-06-30T00:00:00         52541318            /2/3/  1f6da901-c7f7-48a8-8eef-d81868d72b52         False              41             43
430   1976-12-26                33         True      M  2008-12-17       Production Technician - WC60      adventure-works\annik0             M         2014-06-30T00:00:00        801758002        /3/1/1/6/  51fde6ac-bd50-467c-90e5-10ca7310455c         False              28             17
109   1961-05-02                15         True      F  2011-01-18                    Design Engineer     adventure-works\sharon0             M         2014-06-30T00:00:00         56920285          /1/1/7/  54f2fdc0-87c4-4065-a7a8-9ac8ea624235          True              22              4
2037  1987-03-12               219         True      M  2009-01-22         Document Control Assistant       adventure-works\sean1             S         2014-06-30T00:00:00        242381745        /3/2/2/2/  f78657a9-83ef-4b4d-9809-3c4c6d1a7bb4         False              59             78
1815  1989-01-29                71         True      M  2009-02-15       Production Supervisor - WC30    adventure-works\michael3             S         2014-06-30T00:00:00        578935259          /3/1/6/  1ad772d7-7b4a-4a7b-8676-49dd7608cb94         False              55             70
426   1976-12-26                33         True      M  2008-12-17       Production Technician - WC60      adventure-works\annik0             M         2014-06-30T00:00:00        801758002        /3/1/1/6/  51fde6ac-bd50-467c-90e5-10ca7310455c         False              28             17
147   1953-04-30               140         True      M  2010-01-22       Production Technician - WC20   adventure-works\prasanna0             M         2014-06-30T00:00:00        339233463       /3/1/14/6/  72ed240a-0fd8-4423-8a49-9078ba6bcf6c         False              22              5
647   1973-09-05                64         True      M  2010-02-23       Production Technician - WC60    adventure-works\michael7             S         2014-06-30T00:00:00        582347317        /3/1/5/2/  492b24bd-bde9-4371-b96e-ccd72264b91f         False              33             26
455   1986-04-05               184         True      M  2009-02-09       Production Technician - WC20       adventure-works\john2             M         2014-06-30T00:00:00        305522471       /3/1/19/4/  bab69951-28ad-4bca-b5ac-032746d0cc6f         False              29             18
278   1967-03-02               154         True      M  2008-12-23       Production Technician - WC20    adventure-works\raymond0             M         2014-06-30T00:00:00         97728960       /3/1/16/2/  9f01e1fb-b893-40cc-9f5c-aaf89f9b7af5         False              25             10
2173  1986-04-30               215         True      M  2009-01-15       Quality Assurance Technician       adventure-works\mark0             S         2014-06-30T00:00:00        381772114        /3/2/1/3/  6b63ef27-2c55-4f4c-be29-fce8b694dc4a         False              61             83
764   1991-04-06                69         True      M  2009-02-15       Production Technician - WC60      adventure-works\steve0             S         2014-06-30T00:00:00        752513276        /3/1/5/7/  12f678d7-ead3-4cf4-8518-a19aacf2a6d4         False              35             31
1765  1984-03-25               264         True      F  2009-02-04                    Network Manager  adventure-works\stephanie0             S         2014-06-30T00:00:00        858323870            /5/1/  221cbb7b-8bae-452b-a16f-a67ebb3873c8          True              54             68
1002  1977-09-13               151         True      M  2009-02-19       Production Technician - WC30  adventure-works\rostislav0             M         2014-06-30T00:00:00        993310268       /3/1/15/6/  00027a8c-c2f8-4a31-aba8-8a203638b8f1         False              40             40
358   1989-09-28                30         True      F  2009-01-29       Production Technician - WC60     adventure-works\britta0             M         2014-06-30T00:00:00        410742000        /3/1/1/3/  fc12677f-42f8-4790-ad69-685088ed7e5f         False              27             14
1109  1968-09-17               222         True      M  2008-12-12                   Master Scheduler     adventure-works\ascott0             S  2014-12-26T09:17:08.637000        685233686            /3/3/  13909262-4136-492f-bca3-0b0e3773b03e         False              42             44
469   1975-12-21               185         True      M  2009-02-28       Production Technician - WC20     adventure-works\stefen0             S         2014-06-30T00:00:00        621932914       /3/1/19/5/  b9eebf9f-f694-4bc2-98ec-9b4fb0379edf         False              29             19
482   1984-07-31                36         True      M  2009-02-10       Production Technician - WC60       adventure-works\jose0             M         2014-06-30T00:00:00        788456780        /3/1/1/9/  9e912556-88ba-41ee-b946-cb84ab4c1102         False              30             20
582   1974-02-11               283         True      M  2011-05-31               Sales Representative      adventure-works\david8             S         2014-06-30T00:00:00        987554265          /6/1/9/  1e8f9e91-508f-4d49-acd2-775c836030ed          True              31             23
2389  1954-04-24               231         True      F  2010-03-07                            Janitor         adventure-works\jo1             M         2014-06-30T00:00:00        153479919        /3/4/1/3/  39af5cca-9b52-41e5-b510-72901d2578f6         False              65             91
1707  1952-03-02                84         True      M  2010-02-05       Production Technician - WC40      adventure-works\frank3             M         2014-06-30T00:00:00        947029962        /3/1/7/6/  9af24acc-ea3e-4efe-b5e3-4762c496d57c         False              53             66
2584  1969-01-29                 1         True      M  2009-01-14            Chief Executive Officer        adventure-works\ken0             S         2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
1963  1988-12-16               165         True      M  2009-01-22       Production Technician - WC45      adventure-works\chris0             M         2014-06-30T00:00:00        539490372       /3/1/17/5/  300223f3-5587-4230-909b-d9c4afd6d683         False              58             76
52    1986-09-08                95         True      M  2008-12-19       Production Technician - WC50        adventure-works\jim0             M         2014-06-30T00:00:00        674171828        /3/1/9/2/  6175876e-8fcc-4917-be06-fc358515e6df         False              20              1
1591  1986-06-05                 8         True      F  2008-12-29  Research and Development Engineer      adventure-works\diane1             S         2014-06-30T00:00:00        811994146        /1/1/4/1/  31112635-663b-4018-b4a2-a685c0bf48a4          True              51             62
2245  1956-04-04                52         True      F  2008-03-10       Production Technician - WC10      adventure-works\doris0             M         2014-06-30T00:00:00        565090917        /3/1/3/5/  692b8826-03b4-4c3b-82fc-1fc6f1409689         False              63             86
45    1986-09-08                95         True      M  2008-12-19       Production Technician - WC50        adventure-works\jim0             M         2014-06-30T00:00:00        674171828        /3/1/9/2/  6175876e-8fcc-4917-be06-fc358515e6df         False              20              1

### Verificando valores nulos/em branco nos dados

In [6]:
#valores nulos

EDA_humanresources_employee.isnull().sum()

birthdate           0
businessentityid    0
currentflag         0
gender              0
hiredate            0
jobtitle            0
loginid             0
maritalstatus       0
modifieddate        0
nationalidnumber    0
organizationnode    0
rowguid             0
salariedflag        0
sickleavehours      0
vacationhours       0
dtype: int64

In [7]:
# dropar colunas vazias

In [8]:
#total valores unicos de cada variável

valores_unicos = []

for i in EDA_humanresources_employee.columns[0:15].tolist():
    print(i, ':', len(EDA_humanresources_employee[i].astype(str).value_counts()))
    valores_unicos.append(len(EDA_humanresources_employee[i].astype(str).value_counts()))

birthdate : 275
businessentityid : 290
currentflag : 1
gender : 2
hiredate : 164
jobtitle : 67
loginid : 290
maritalstatus : 2
modifieddate : 2
nationalidnumber : 290
organizationnode : 290
rowguid : 290
salariedflag : 2
sickleavehours : 51
vacationhours : 100

In [9]:
# Identificar duplicatas com base em 'businessentityid'
duplicatas = EDA_humanresources_employee[EDA_humanresources_employee.duplicated(subset=['businessentityid'], keep=False)]

# Verificar se existem duplicatas
if not duplicatas.empty:
    # Ordenar duplicatas por 'businessentityid' e 'modifieddate'
    duplicatas_ordenadas = duplicatas.sort_values(by=['businessentityid', 'modifieddate'])
    
    # Exibir duplicatas ordenadas
    print("Duplicatas ordenadas:")
    print(duplicatas_ordenadas)
else:
    print("Não foram encontradas duplicatas.")

Duplicatas ordenadas:
       birthdate  businessentityid  currentflag gender    hiredate                 jobtitle                  loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2583  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2584  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2585  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2586  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2587  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
...          ...               ...          ...    ...         ...                      ...                      ...           ...                  ...              ...              ...                                   ...           ...             ...            ...
841   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
842   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
843   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
844   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
845   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34

[2610 rows x 15 columns]

In [10]:
print(duplicatas_ordenadas.drop_duplicates())

       birthdate  businessentityid  currentflag gender    hiredate                       jobtitle                   loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2583  1969-01-29                 1         True      M  2009-01-14        Chief Executive Officer      adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
27    1971-08-01                 2         True      F  2008-01-31  Vice President of Engineering    adventure-works\terri0             S  2014-06-30T00:00:00        245797967              /1/  45e8f437-670d-4409-93cb-f9424a40d6ee          True              20              1
54    1974-11-12                 3         True      M  2007-11-11            Engineering Manager  adventure-works\roberto0             M  2014-06-30T00:00:00        509647174            /1/1/  9bbbfb2c-efbb-4217-9ab7-f97689328841          True              21              2
1197  1974-12-23                 4         True      M  2007-12-05           Senior Tool Designer      adventure-works\rob0             S  2014-06-30T00:00:00        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48
135   1952-09-27                 5         True      F  2008-01-06                Design Engineer     adventure-works\gail0             M  2014-06-30T00:00:00        695256908          /1/1/2/  ec84ae09-f9b8-4a15-b4a9-6ccbab919b08          True              22              5
...          ...               ...          ...    ...         ...                            ...                       ...           ...                  ...              ...              ...                                   ...           ...             ...            ...
891   1977-02-14               286         True      F  2013-05-30           Sales Representative     adventure-works\lynn0             S  2014-06-30T00:00:00        758596752          /6/2/1/  4a9a8407-a680-4a6b-8d03-511cb58f9a8a          True              38             36
522   1957-09-20               287         True      F  2012-04-16         European Sales Manager      adventure-works\amy0             M  2014-06-30T00:00:00        982310417            /6/3/  66d66445-ee78-4676-9e66-0e22d6109a92          True              30             21
864   1975-07-09               288         True      F  2013-05-30           Sales Representative   adventure-works\rachel0             S  2014-06-30T00:00:00        954276278          /6/3/1/  b9bf7741-e0ca-4f37-acde-a4f78c6d03e9          True              37             35
918   1968-03-17               289         True      F  2012-05-30           Sales Representative      adventure-works\jae0             M  2014-06-30T00:00:00        668991357          /6/3/2/  723a5921-d8a1-4659-9bc4-13c4cf7c9c91          True              38             37
837   1975-09-30               290         True      M  2012-05-30           Sales Representative   adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34

[290 rows x 15 columns]

In [11]:
duplicados_businessentityid = EDA_humanresources_employee[EDA_humanresources_employee.duplicated(subset=['businessentityid'], keep=False)]

# Ordenar por 'businessentityid' para facilitar a análise
duplicados_ordenados = duplicados_businessentityid.sort_values(by=['businessentityid'])

# Exibir todas as linhas duplicadas
print(duplicados_ordenados)

       birthdate  businessentityid  currentflag gender    hiredate                 jobtitle                  loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2590  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2583  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2585  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2586  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
2587  1969-01-29                 1         True      M  2009-01-14  Chief Executive Officer     adventure-works\ken0             S  2014-06-30T00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
...          ...               ...          ...    ...         ...                      ...                      ...           ...                  ...              ...              ...                                   ...           ...             ...            ...
839   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
838   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
837   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
844   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34
845   1975-09-30               290         True      M  2012-05-30     Sales Representative  adventure-works\ranjit0             S  2014-06-30T00:00:00        134219713          /6/3/3/  604213f9-dd0f-43b4-bdd2-c96e93d3f4bf          True              37             34

[2610 rows x 15 columns]

In [12]:
pd.set_option('display.max_rows', None)
contagem = EDA_humanresources_employee['businessentityid'].value_counts()

# Filtrar apenas os IDs que aparecem mais de uma vez
repetidos = contagem[contagem > 1]

# Exibir repetidos novamente
print(repetidos)

businessentityid
139    9
221    9
129    9
264    9
166    9
128    9
270    9
87     9
132    9
271    9
84     9
102    9
263    9
80     9
47     9
247    9
81     9
145    9
266    9
133    9
127    9
162    9
267    9
161    9
160    9
268    9
164    9
269    9
71     9
78     9
131    9
272    9
192    9
130    9
265    9
25     9
246    9
85     9
257    9
262    9
253    9
200    9
259    9
249    9
201    9
235    9
241    9
199    9
258    9
236    9
196    9
255    9
237    9
204    9
254    9
9      9
252    9
244    9
82     9
8      9
243    9
83     9
7      9
242    9
195    9
79     9
251    9
248    9
86     9
256    9
245    9
186    9
165    9
97     9
205    9
111    9
103    9
228    9
115    9
106    9
231    9
112    9
107    9
229    9
110    9
105    9
232    9
54     9
120    9
230    9
121    9
104    9
119    9
122    9
117    9
1      9
92     9
124    9
116    9
90     9
114    9
125    9
89     9
126    9
113    9
91     9
123    9
109    9
49     9
118    9
233    9
187    9
189    9
211    9
188    9
27     9
220    9
55     9
219    9
212    9
93     9
191    9
217    9
163    9
108    9
218    9
62     9
40     9
53     9
207    9
209    9
227    9
52     9
208    9
213    9
51     9
214    9
190    9
50     9
206    9
215    9
48     9
210    9
216    9
193    9
261    9
239    9
203    9
185    9
29     9
184    9
31     9
183    9
33     9
155    9
37     9
10     9
153    9
34     9
274    9
158    9
30     9
60     9
36     9
181    9
285    9
283    9
170    9
167    9
39     9
277    9
177    9
38     9
175    9
28     9
32     9
280    9
172    9
35     9
287    9
182    9
159    9
59     9
157    9
14     9
5      9
98     9
136    9
15     9
101    9
142    9
99     9
96     9
143    9
3      9
95     9
141    9
2      9
234    9
140    9
6      9
58     9
12     9
156    9
273    9
57     9
154    9
56     9
135    9
61     9
144    9
137    9
13     9
100    9
138    9
11     9
94     9
64     9
281    9
178    9
19     9
22     9
222    9
75     9
21     9
74     9
26     9
73     9
224    9
180    9
17     9
72     9
152    9
20     9
151    9
76     9
23     9
16     9
226    9
260    9
238    9
202    9
250    9
240    9
198    9
197    9
77     9
18     9
4      9
225    9
194    9
24     9
223    9
134    9
284    9
68     9
63     9
173    9
67     9
171    9
282    9
69     9
169    9
179    9
278    9
279    9
65     9
176    9
66     9
174    9
276    9
70     9
168    9
42     9
147    9
149    9
275    9
44     9
148    9
289    9
45     9
286    9
43     9
46     9
146    9
288    9
41     9
150    9
290    9
88     9
Name: count, dtype: int64

In [13]:
#copia da humanresources_employee
raw_data_bkp = EDA_humanresources_employee.copy()

# Ordenar o DataFrame por 'businessentityid' e 'modifieddate'
EDA_humanresources_employee = EDA_humanresources_employee.sort_values(by=['businessentityid', 'modifieddate'])

# Remover duplicatas mantendo a última ocorrência com base em 'modifieddate'
EDA_humanresources_employee = EDA_humanresources_employee.drop_duplicates(subset=['businessentityid'], keep='last')

print(f"Linhas após remover duplicatas (baseando-se na última 'modifieddate'): {len(EDA_humanresources_employee)}")

Linhas após remover duplicatas (baseando-se na última 'modifieddate'): 290

In [14]:
# Verificar informações do DataFrame
print(EDA_humanresources_employee.info())

<class 'pandas.core.frame.DataFrame'>
Index: 290 entries, 2591 to 845
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   birthdate         290 non-null    object
 1   businessentityid  290 non-null    int64
 2   currentflag       290 non-null    bool
 3   gender            290 non-null    object
 4   hiredate          290 non-null    object
 5   jobtitle          290 non-null    object
 6   loginid           290 non-null    object
 7   maritalstatus     290 non-null    object
 8   modifieddate      290 non-null    object
 9   nationalidnumber  290 non-null    object
 10  organizationnode  290 non-null    object
 11  rowguid           290 non-null    object
 12  salariedflag      290 non-null    bool
 13  sickleavehours    290 non-null    int64
 14  vacationhours     290 non-null    int64
dtypes: bool(2), int64(3), object(10)
memory usage: 32.3+ KB
None

In [15]:
# Identificar colunas com datas
date_columns = ['birthdate', 'hiredate', 'modifieddate']

# Converter as colunas para datetime se ainda não estiverem
for col in date_columns:
    EDA_humanresources_employee[col] = pd.to_datetime(EDA_humanresources_employee[col], errors='coerce')

# Criar uma cópia do DataFrame para exibição formatada
formatted_data = EDA_humanresources_employee.copy()

# Formatar todas as colunas de datas para exibição
for col in date_columns:
    formatted_data[col] = EDA_humanresources_employee[col].dt.strftime('%Y-%m-%d %H:%M:%S')

# Exibir o DataFrame formatado
print(formatted_data.head())

# Verificar os tipos originais permanecem datetime64[ns]
print("\nTipos originais das colunas no DataFrame principal:")
print(EDA_humanresources_employee[date_columns].dtypes)

                birthdate  businessentityid  currentflag gender             hiredate                       jobtitle                   loginid maritalstatus         modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours
2591  1969-01-29 00:00:00                 1         True      M  2009-01-14 00:00:00        Chief Executive Officer      adventure-works\ken0             S  2014-06-30 00:00:00        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99
35    1971-08-01 00:00:00                 2         True      F  2008-01-31 00:00:00  Vice President of Engineering    adventure-works\terri0             S  2014-06-30 00:00:00        245797967              /1/  45e8f437-670d-4409-93cb-f9424a40d6ee          True              20              1
62    1974-11-12 00:00:00                 3         True      M  2007-11-11 00:00:00            Engineering Manager  adventure-works\roberto0             M  2014-06-30 00:00:00        509647174            /1/1/  9bbbfb2c-efbb-4217-9ab7-f97689328841          True              21              2
1205  1974-12-23 00:00:00                 4         True      M  2007-12-05 00:00:00           Senior Tool Designer      adventure-works\rob0             S  2014-06-30 00:00:00        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48
143   1952-09-27 00:00:00                 5         True      F  2008-01-06 00:00:00                Design Engineer     adventure-works\gail0             M  2014-06-30 00:00:00        695256908          /1/1/2/  ec84ae09-f9b8-4a15-b4a9-6ccbab919b08          True              22              5

Tipos originais das colunas no DataFrame principal:
birthdate       datetime64[ns]
hiredate        datetime64[ns]
modifieddate    datetime64[ns]
dtype: object

In [16]:
# Padronizar textos em jobtitle e gender
EDA_humanresources_employee['jobtitle'] = EDA_humanresources_employee['jobtitle'].str.strip().str.title()
EDA_humanresources_employee['gender'] = EDA_humanresources_employee['gender'].str.strip().str.upper()

# Verificar valores únicos para garantir a padronização
print("Valores únicos em 'jobtitle':", EDA_humanresources_employee['jobtitle'].unique())
print("Valores únicos em 'gender':", EDA_humanresources_employee['gender'].unique())

Valores únicos em 'jobtitle': ['Chief Executive Officer' 'Vice President Of Engineering'
 'Engineering Manager' 'Senior Tool Designer' 'Design Engineer'
 'Research And Development Manager' 'Research And Development Engineer'
 'Tool Designer' 'Senior Design Engineer' 'Marketing Manager'
 'Marketing Assistant' 'Marketing Specialist'
 'Vice President Of Production' 'Production Control Manager'
 'Production Supervisor - Wc60' 'Production Technician - Wc60'
 'Production Supervisor - Wc10' 'Production Technician - Wc10'
 'Production Supervisor - Wc50' 'Production Technician - Wc50'
 'Production Supervisor - Wc30' 'Production Technician - Wc30'
 'Production Supervisor - Wc40' 'Production Technician - Wc40'
 'Shipping And Receiving Supervisor' 'Stocker'
 'Shipping And Receiving Clerk' 'Production Supervisor - Wc20'
 'Production Technician - Wc20' 'Production Supervisor - Wc45'
 'Production Technician - Wc45' 'Quality Assurance Manager'
 'Quality Assurance Supervisor' 'Quality Assurance Technician'
 'Document Control Manager' 'Control Specialist'
 'Document Control Assistant' 'Master Scheduler' 'Scheduling Assistant'
 'Facilities Manager' 'Maintenance Supervisor' 'Janitor'
 'Facilities Administrative Assistant' 'Chief Financial Officer'
 'Human Resources Manager' 'Human Resources Administrative Assistant'
 'Recruiter' 'Benefits Specialist' 'Accounts Manager'
 'Accounts Receivable Specialist' 'Accountant'
 'Accounts Payable Specialist' 'Finance Manager' 'Purchasing Manager'
 'Buyer' 'Purchasing Assistant' 'Assistant To The Chief Financial Officer'
 'Information Services Manager' 'Network Manager' 'Network Administrator'
 'Application Specialist' 'Database Administrator'
 'Vice President Of Sales' 'North American Sales Manager'
 'Sales Representative' 'Pacific Sales Manager' 'European Sales Manager']
Valores únicos em 'gender': ['M' 'F']

In [17]:
# Identificar colunas numéricas para análise 
numeric_columns = ['sickleavehours', 'vacationhours']

# Exibir estatísticas descritivas
print(EDA_humanresources_employee[numeric_columns].describe())

# Calcular limites para outliers (IQR - Intervalo Interquartil)
for col in numeric_columns:
    q1 = EDA_humanresources_employee[col].quantile(0.25)
    q3 = EDA_humanresources_employee[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    
    # Exibir os limites
    print(f"\nColuna: {col}")
    print(f"Limite inferior: {lower_bound}, Limite superior: {upper_bound}")
    
    # Filtrar outliers
    outliers = EDA_humanresources_employee[(EDA_humanresources_employee[col] < lower_bound) | (EDA_humanresources_employee[col] > upper_bound)]
    print(f"Outliers detectados ({len(outliers)}):")
    print(outliers[[col]])

       sickleavehours  vacationhours
count          290.00         290.00
mean            45.31          50.61
std             14.54          28.79
min             20.00           0.00
25%             33.00          26.25
50%             46.00          51.00
75%             58.00          75.00
max             80.00          99.00

Coluna: sickleavehours
Limite inferior: -4.5, Limite superior: 95.5
Outliers detectados (0):
Empty DataFrame
Columns: [sickleavehours]
Index: []

Coluna: vacationhours
Limite inferior: -46.875, Limite superior: 148.125
Outliers detectados (0):
Empty DataFrame
Columns: [vacationhours]
Index: []

In [18]:

# Criar a coluna 'hire_year' com base em 'hiredate'
EDA_humanresources_employee['hire_year'] = EDA_humanresources_employee['hiredate'].dt.year


#verificando outros dados para detectar outliers
anos_contratacao = [int(ano) for ano in EDA_humanresources_employee['hire_year'].unique()]
anos_contratacao.sort()
print(anos_contratacao)

print("Valores únicos em 'gender':", EDA_humanresources_employee['gender'].unique())
print("Valores únicos em 'salariedflag':", EDA_humanresources_employee['salariedflag'].unique())

[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]
Valores únicos em 'gender': ['M' 'F']
Valores únicos em 'salariedflag': [ True False]

In [19]:
# Verificar valores ausentes
missing = EDA_humanresources_employee.isnull().sum()
print("Valores ausentes por coluna:")
print(missing)

# Tratar colunas críticas
if missing['hiredate'] > 0:
    print("Tratar valores ausentes em 'hiredate' (decisão: remover ou imputar)")

if missing['jobtitle'] > 0:
    print("Tratar valores ausentes em 'jobtitle' (decisão: remover ou imputar)")

if missing['businessentityid'] > 0:
    print("Erro crítico: 'businessentityid' não pode ter valores ausentes!")

Valores ausentes por coluna:
birthdate           0
businessentityid    0
currentflag         0
gender              0
hiredate            0
jobtitle            0
loginid             0
maritalstatus       0
modifieddate        3
nationalidnumber    0
organizationnode    0
rowguid             0
salariedflag        0
sickleavehours      0
vacationhours       0
hire_year           0
dtype: int64

In [20]:
# Verificar linhas com 'modifieddate' ausente
missing_modifieddate = EDA_humanresources_employee[EDA_humanresources_employee['modifieddate'].isnull()]
print("Linhas com 'modifieddate' ausente:")
print(missing_modifieddate)

Linhas com 'modifieddate' ausente:
      birthdate  businessentityid  currentflag gender   hiredate                    jobtitle                  loginid maritalstatus modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours  hire_year
1079 1982-11-03                26         True      M 2008-12-01  Production Control Manager   adventure-works\peter0             M          NaT        277173473            /3/1/  69d5d162-e817-45e7-9dec-5d9b8310e7b1          True              41             43       2008
2096 1977-10-26               211         True      M 2009-02-28   Quality Assurance Manager   adventure-works\hazem0             S          NaT        398223854            /3/2/  05c84608-f445-4f9d-bb5c-0828c309c29d          True              60             80       2009
1115 1968-09-17               222         True      M 2008-12-12            Master Scheduler  adventure-works\ascott0             S          NaT        685233686            /3/3/  13909262-4136-492f-bca3-0b0e3773b03e         False              42             44       2008

In [21]:
# Preencher 'modifieddate' ausente ou igual a 'hiredate', pois pode ser a ultima data de modificação no sistema.
EDA_humanresources_employee.loc[EDA_humanresources_employee['modifieddate'].isnull() | (EDA_humanresources_employee['modifieddate'] == pd.Timestamp('1900-01-01')), 'modifieddate'] = EDA_humanresources_employee['hiredate']

# Exibir as linhas ajustadas
print("Linhas onde 'modifieddate' foi ajustado para 'hiredate':")
print(EDA_humanresources_employee.loc[EDA_humanresources_employee['modifieddate'] == EDA_humanresources_employee['hiredate']])

Linhas onde 'modifieddate' foi ajustado para 'hiredate':
      birthdate  businessentityid  currentflag gender   hiredate                    jobtitle                  loginid maritalstatus modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours  hire_year
1079 1982-11-03                26         True      M 2008-12-01  Production Control Manager   adventure-works\peter0             M   2008-12-01        277173473            /3/1/  69d5d162-e817-45e7-9dec-5d9b8310e7b1          True              41             43       2008
2096 1977-10-26               211         True      M 2009-02-28   Quality Assurance Manager   adventure-works\hazem0             S   2009-02-28        398223854            /3/2/  05c84608-f445-4f9d-bb5c-0828c309c29d          True              60             80       2009
1115 1968-09-17               222         True      M 2008-12-12            Master Scheduler  adventure-works\ascott0             S   2008-12-12        685233686            /3/3/  13909262-4136-492f-bca3-0b0e3773b03e         False              42             44       2008

In [22]:
# Verificar unicidade de 'businessentityid'
is_unique = EDA_humanresources_employee['businessentityid'].is_unique
print(f"'businessentityid' é único? {is_unique}")

'businessentityid' é único? True

In [23]:
# Definir regex para validar números (exemplo: apenas dígitos, 9 caracteres)
# acrescentei para ver se tinha um padrão, mas não tem
regex = r'^\d{9}$'

# Verificar valores inválidos
invalid_nationalid = EDA_humanresources_employee[~EDA_humanresources_employee['nationalidnumber'].astype(str).str.match(regex)]
print(f"Valores inválidos em 'nationalidnumber':\n{invalid_nationalid['nationalidnumber']}")

Valores inválidos em 'nationalidnumber':
89      42487730
116     56920285
989     24756624
1070    52541318
1124    95958330
1178    72636981
512     14417807
593      6298838
890     66073987
1673    33237992
2276     9659517
287     10708100
242     92096924
719      8066363
791     63179277
809     36151748
1601    58791499
1628     1662732
1736     7201901
2528    90888098
2555    82638150
2510    54759846
1727     1300049
998     45615666
233     63761469
206     25011600
71      56772045
278     97728960
1898    65848458
1763    60114406
800     87268837
1241    19312190
2159    20244403
2312    28414965
1466       30845
1583    60517918
1421    20269531
1934    58317344
557     61161660
980     90836195
Name: nationalidnumber, dtype: object

In [24]:
is_unique = EDA_humanresources_employee['nationalidnumber'].is_unique
print(f"'nationalidnumber' é único? {is_unique}")

'nationalidnumber' é único? True

In [25]:
# Criar um backup do DataFrame tratado
EDA_humanresources_employee_bkp_v2 = EDA_humanresources_employee.copy()

# Verificar o tamanho do backup e as primeiras linhas
print(f"Backup criado com {len(EDA_humanresources_employee_bkp_v2)} linhas.")
print(EDA_humanresources_employee_bkp_v2.head())

Backup criado com 290 linhas.
      birthdate  businessentityid  currentflag gender   hiredate                       jobtitle                   loginid maritalstatus modifieddate nationalidnumber organizationnode                               rowguid  salariedflag  sickleavehours  vacationhours  hire_year
2591 1969-01-29                 1         True      M 2009-01-14        Chief Executive Officer      adventure-works\ken0             S   2014-06-30        295847284                /  f01251e5-96a3-448d-981e-0f99d789110d          True              69             99       2009
35   1971-08-01                 2         True      F 2008-01-31  Vice President Of Engineering    adventure-works\terri0             S   2014-06-30        245797967              /1/  45e8f437-670d-4409-93cb-f9424a40d6ee          True              20              1       2008
62   1974-11-12                 3         True      M 2007-11-11            Engineering Manager  adventure-works\roberto0             M   2014-06-30        509647174            /1/1/  9bbbfb2c-efbb-4217-9ab7-f97689328841          True              21              2       2007
1205 1974-12-23                 4         True      M 2007-12-05           Senior Tool Designer      adventure-works\rob0             S   2014-06-30        112457891          /1/1/1/  59747955-87b8-443f-8ed4-f8ad3afdf3a9         False              80             48       2007
143  1952-09-27                 5         True      F 2008-01-06                Design Engineer     adventure-works\gail0             M   2014-06-30        695256908          /1/1/2/  ec84ae09-f9b8-4a15-b4a9-6ccbab919b08          True              22              5       2008

In [26]:
# Verificar e documentar colunas existentes
print("Colunas mantidas no dataset:", EDA_humanresources_employee.columns.tolist())

Colunas mantidas no dataset: ['birthdate', 'businessentityid', 'currentflag', 'gender', 'hiredate', 'jobtitle', 'loginid', 'maritalstatus', 'modifieddate', 'nationalidnumber', 'organizationnode', 'rowguid', 'salariedflag', 'sickleavehours', 'vacationhours', 'hire_year']

In [27]:
for col in EDA_humanresources_employee.columns:
    print(f"Valores únicos em '{col}':", EDA_humanresources_employee[col].unique()[:3])  # Limitar a exibição a 10 valores

Valores únicos em 'birthdate': <DatetimeArray>
['1969-01-29 00:00:00', '1971-08-01 00:00:00', '1974-11-12 00:00:00']
Length: 3, dtype: datetime64[ns]
Valores únicos em 'businessentityid': [1 2 3]
Valores únicos em 'currentflag': [ True]
Valores únicos em 'gender': ['M' 'F']
Valores únicos em 'hiredate': <DatetimeArray>
['2009-01-14 00:00:00', '2008-01-31 00:00:00', '2007-11-11 00:00:00']
Length: 3, dtype: datetime64[ns]
Valores únicos em 'jobtitle': ['Chief Executive Officer' 'Vice President Of Engineering'
 'Engineering Manager']
Valores únicos em 'loginid': ['adventure-works\\ken0' 'adventure-works\\terri0'
 'adventure-works\\roberto0']
Valores únicos em 'maritalstatus': ['S' 'M']
Valores únicos em 'modifieddate': <DatetimeArray>
['2014-06-30 00:00:00', '2008-12-01 00:00:00', '2009-02-28 00:00:00']
Length: 3, dtype: datetime64[ns]
Valores únicos em 'nationalidnumber': ['295847284' '245797967' '509647174']
Valores únicos em 'organizationnode': ['/' '/1/' '/1/1/']
Valores únicos em 'rowguid': ['f01251e5-96a3-448d-981e-0f99d789110d'
 '45e8f437-670d-4409-93cb-f9424a40d6ee'
 '9bbbfb2c-efbb-4217-9ab7-f97689328841']
Valores únicos em 'salariedflag': [ True False]
Valores únicos em 'sickleavehours': [69 20 21]
Valores únicos em 'vacationhours': [99  1  2]
Valores únicos em 'hire_year': [2009 2008 2007]

In [28]:
# Listar colunas binárias esperadas
binary_columns = ['currentflag', 'salariedflag']

# Verificar valores únicos em colunas binárias
for col in binary_columns:
    unique_values = EDA_humanresources_employee[col].unique()
    print(f"Valores únicos em '{col}': {unique_values}")

Valores únicos em 'currentflag': [ True]
Valores únicos em 'salariedflag': [ True False]

In [29]:
# Contar valores em 'currentflag' e 'salariedflag'
print("Distribuição de 'currentflag':")
print(EDA_humanresources_employee['currentflag'].value_counts())

print("\nDistribuição de 'salariedflag':")
print(EDA_humanresources_employee['salariedflag'].value_counts())


#se vale a pena deletar ou não a coluna currentflag, já que só tem 1 valor e é true ?!

Distribuição de 'currentflag':
currentflag
True    290
Name: count, dtype: int64

Distribuição de 'salariedflag':
salariedflag
False    238
True      52
Name: count, dtype: int64

In [30]:
# 1. Verificar se todos os funcionários ativos têm currentflag = True, pois deveria ser false = demitido/desligado
print("Funcionários ativos errados:", EDA_humanresources_employee[EDA_humanresources_employee['currentflag'] != True])

# 2. Validar datas
print("Contratações futuras:", EDA_humanresources_employee[EDA_humanresources_employee['hiredate'] > pd.Timestamp.now()])
print("Modifieddate antes de hiredate:", EDA_humanresources_employee[EDA_humanresources_employee['modifieddate'] < EDA_humanresources_employee['hiredate']])

# 3. Verificar unicidade de identificadores
print("Duplicados em 'businessentityid':", EDA_humanresources_employee['businessentityid'].duplicated().sum())
print("Duplicados em 'nationalidnumber':", EDA_humanresources_employee['nationalidnumber'].duplicated().sum())

Funcionários ativos errados: Empty DataFrame
Columns: [birthdate, businessentityid, currentflag, gender, hiredate, jobtitle, loginid, maritalstatus, modifieddate, nationalidnumber, organizationnode, rowguid, salariedflag, sickleavehours, vacationhours, hire_year]
Index: []
Contratações futuras: Empty DataFrame
Columns: [birthdate, businessentityid, currentflag, gender, hiredate, jobtitle, loginid, maritalstatus, modifieddate, nationalidnumber, organizationnode, rowguid, salariedflag, sickleavehours, vacationhours, hire_year]
Index: []
Modifieddate antes de hiredate: Empty DataFrame
Columns: [birthdate, businessentityid, currentflag, gender, hiredate, jobtitle, loginid, maritalstatus, modifieddate, nationalidnumber, organizationnode, rowguid, salariedflag, sickleavehours, vacationhours, hire_year]
Index: []
Duplicados em 'businessentityid': 0
Duplicados em 'nationalidnumber': 0

In [31]:
# Definir Dataset e Nome da Tabela
dataset_id = 'raw_data_cleaned'  # Substitua pelo nome do seu Dataset
table_id = 'humanresources_employee'   # Substitua pelo nome da sua Tabela
full_table_id = f"{client.project}.{dataset_id}.{table_id}"  # Nome completo da tabela

# Exportar para o BigQuery
EDA_humanresources_employee.to_gbq(full_table_id, if_exists='replace', credentials=client._credentials)

100%|██████████| 1/1 [00:00<?, ?it/s]

## ESTATÍSTICA DESCRITIVA

In [32]:
# Selecionar colunas relevantes para análise descritiva
cols_para_analise = ['sickleavehours', 'vacationhours', 'salariedflag']

# Garantir que as datas estejam no formato correto
EDA_humanresources_employee['hire_year'] = pd.to_datetime(EDA_humanresources_employee['hiredate']).dt.year

# Adicionar a nova coluna à lista
cols_para_analise.append('hire_year')

# Gerar estatísticas descritivas
analise_descritiva = EDA_humanresources_employee[cols_para_analise].describe(include='all')

# Substituir NaN por '-'
analise_descritiva = analise_descritiva.fillna('-')

print(analise_descritiva)

       sickleavehours vacationhours salariedflag hire_year
count          290.00        290.00          290    290.00
unique              -             -            2         -
top                 -             -        False         -
freq                -             -          238         -
mean            45.31         50.61            -   2009.02
std             14.54         28.79            -      1.01
min             20.00          0.00            -   2006.00
25%             33.00         26.25            -   2008.00
50%             46.00         51.00            -   2009.00
75%             58.00         75.00            -   2009.00
max             80.00         99.00            -   2013.00